In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\hp\anaconda3\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import psycopg2
import pandas as pd

In [4]:
#connect to the db
connection = psycopg2.connect(database='myduka', user='postgres', password='Mamamia11')

In [5]:
#declare the cursor
cursor = connection.cursor()

In [6]:
# query to select from products table
fetch_all = "SELECT * FROM products"

In [7]:
# Executing the SELECT query
cursor.execute(fetch_all)

In [8]:
#fetch the data
rows = cursor.fetchall()

In [11]:
#display the data
rows

[(1, 'blueband', Decimal('200.00'), Decimal('210.00'), 50, None),
 (2, 'kiwi', Decimal('150.00'), Decimal('170.00'), 50, None),
 (3, 'broadways', Decimal('60.00'), Decimal('70.00'), 50, None),
 (4, 'superloaf', Decimal('55.00'), Decimal('65.00'), 50, None),
 (5, 'lotion', Decimal('200.00'), Decimal('250.00'), 50, None),
 (6, 'bata', Decimal('1500.00'), Decimal('1700.00'), 50, None),
 (7, 'karatasi', Decimal('50.00'), Decimal('60.00'), 50, None)]