NB: Do not write queries for the questions below. Use numpy, pandas, matplotlib and searborn. The only query you should have is to join the two tables in pd.read_sql

Questions: 
1. Create a new column for selling_price that is taking a 25% markup from the original buying_price column. This should be something like new_sp = buying_price*1.25. Use this new column moving forward for selling price, not the original
2. Create a new column for profit that is now using the new_sp column. Use this new profit column moving forward.
3. Display the total sales ever made in the duka.
4. Display the top 5 products of the business, in terms of sales.
5. Display the best performing month in the business in terms of sales
6. Graph the sales of each of the products ordered. 
7. What is the correlation value between the buying_price and profit?
8. If possible, what is the correlation between product_name and profit?
9. Graph the monthly sales.
10. Clean up the unused columns like the old selling price and profit, then dump a csv file of the clean dataset. Ensure the output is called duka_sales_cleaned.csv


Once this is done, you push on your Github repository. You are allowed to discuss.

In [1]:
# install pandas and import the package(s)
import pandas as pd
import math
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
# install sqlalchemy
from sqlalchemy import create_engine as ce

In [3]:
# import matplotlib to use for ploting a graph
import matplotlib.pyplot as plt

In [4]:
#connect to db
engine=ce("postgresql://postgres:Mamamia11@localhost:5432/myduka")

In [5]:
# display the total sales
full_dataset=pd.read_sql("select * from products p join sales s on p.id=s.pid",engine)

In [6]:
#display the result
full_dataset

,id,name,buying_price,selling_price,stock_quantity,id,pid,quantity,created_at
0,85,Pheasants - Whole,5.0,6.0,96,3,85,5.0,2023-02-19 18:33:38
1,86,Ecolab - Ster Bac,16.0,14.0,50,4,86,5.0,2023-09-07 08:05:52
2,89,Foam Tray S2,7.0,40.0,56,5,89,8.0,2022-12-27 05:39:33
3,107,"Lamb - Racks, Frenched",6.0,64.0,91,6,107,4.0,2022-12-19 07:46:31
4,76,Flavouring - Rum,30.0,99.0,92,7,76,1.0,2023-10-04 22:37:56
...,...,...,...,...,...,...,...,...,...
95,81,Sobe - Orange Carrot,8.0,64.0,76,98,81,9.0,2023-01-07 04:47:41
96,93,Mousse - Banana Chocolate,16.0,44.0,59,99,93,6.0,2022-12-18 16:33:19
97,60,"Soda Water - Club Soda, 355 Ml",5.0,65.0,85,100,60,7.0,2023-03-10 15:48:48
98,106,Chambord Royal,8.0,60.0,71,101,106,7.0,2023-05-06 14:08:02
99,16,Waffle Stix,10.0,21.0,59,102,16,2.0,2023-05-27 17:16:53

In [7]:
# Create a new column for selling_price that is taking a 25% markup from the original buying_price column. 
# This should be something like new_sp = buying_price*1.25. 
# Use this new column moving forward for selling price, not the original.
new_dataset = full_dataset
new_dataset['new_sp'] = np.ceil(new_dataset['buying_price']*1.25)
new_dataset

,id,name,buying_price,selling_price,stock_quantity,id,pid,quantity,created_at,new_sp
0,85,Pheasants - Whole,5.0,6.0,96,3,85,5.0,2023-02-19 18:33:38,7.0
1,86,Ecolab - Ster Bac,16.0,14.0,50,4,86,5.0,2023-09-07 08:05:52,20.0
2,89,Foam Tray S2,7.0,40.0,56,5,89,8.0,2022-12-27 05:39:33,9.0
3,107,"Lamb - Racks, Frenched",6.0,64.0,91,6,107,4.0,2022-12-19 07:46:31,8.0
4,76,Flavouring - Rum,30.0,99.0,92,7,76,1.0,2023-10-04 22:37:56,38.0
...,...,...,...,...,...,...,...,...,...,...
95,81,Sobe - Orange Carrot,8.0,64.0,76,98,81,9.0,2023-01-07 04:47:41,10.0
96,93,Mousse - Banana Chocolate,16.0,44.0,59,99,93,6.0,2022-12-18 16:33:19,20.0
97,60,"Soda Water - Club Soda, 355 Ml",5.0,65.0,85,100,60,7.0,2023-03-10 15:48:48,7.0
98,106,Chambord Royal,8.0,60.0,71,101,106,7.0,2023-05-06 14:08:02,10.0
99,16,Waffle Stix,10.0,21.0,59,102,16,2.0,2023-05-27 17:16:53,13.0

In [8]:
# Create a new column for profit that is now using the new_sp column. Use this new profit column moving forward.
new_dataset['profit'] = (new_dataset['new_sp'] - new_dataset['buying_price'])*new_dataset['quantity']
new_dataset

,id,name,buying_price,selling_price,stock_quantity,id,pid,quantity,created_at,new_sp,profit
0,85,Pheasants - Whole,5.0,6.0,96,3,85,5.0,2023-02-19 18:33:38,7.0,10.0
1,86,Ecolab - Ster Bac,16.0,14.0,50,4,86,5.0,2023-09-07 08:05:52,20.0,20.0
2,89,Foam Tray S2,7.0,40.0,56,5,89,8.0,2022-12-27 05:39:33,9.0,16.0
3,107,"Lamb - Racks, Frenched",6.0,64.0,91,6,107,4.0,2022-12-19 07:46:31,8.0,8.0
4,76,Flavouring - Rum,30.0,99.0,92,7,76,1.0,2023-10-04 22:37:56,38.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...
95,81,Sobe - Orange Carrot,8.0,64.0,76,98,81,9.0,2023-01-07 04:47:41,10.0,18.0
96,93,Mousse - Banana Chocolate,16.0,44.0,59,99,93,6.0,2022-12-18 16:33:19,20.0,24.0
97,60,"Soda Water - Club Soda, 355 Ml",5.0,65.0,85,100,60,7.0,2023-03-10 15:48:48,7.0,14.0
98,106,Chambord Royal,8.0,60.0,71,101,106,7.0,2023-05-06 14:08:02,10.0,14.0
99,16,Waffle Stix,10.0,21.0,59,102,16,2.0,2023-05-27 17:16:53,13.0,6.0

In [9]:
# Display the total sales ever made in the duka. (revenue)
total_sales = new_dataset['new_sp']*new_dataset['quantity']
total_sales.sum()

15587.0

In [10]:
# Display the top 5 products of the business, in terms of sales.
# group sales by name/product
grouped_df1 = new_dataset.groupby(new_dataset['name'])['profit'].sum()
grouped_df1

name
Alize Sunset                     56.0
Aspic - Light                     4.0
Bagelers                         12.0
Beef - Eye Of Round               2.0
Beer - Tetleys                   15.0
                                ...
Wine La Vielle Ferme Cote Du     35.0
blueband                        350.0
karatasi                        169.0
lotion                          750.0
superloaf                        84.0
Name: profit, Length: 66, dtype: float64

In [11]:
#sort using the sales column
sorted_result = grouped_df1.sort_values(ascending=False)
sorted_result.head()

name
lotion             750.0
blueband           350.0
karatasi           169.0
Bread - Burger     112.0
Extract - Lemon    100.0
Name: profit, dtype: float64

In [12]:
# Display the best performing month in the business in terms of sales
#group by using date
grouped_df2 = new_dataset.groupby(new_dataset['created_at'].dt.to_period('M'))['profit'].sum()
grouped_df2

created_at
2022-11    215.0
2022-12    168.0
2023-01    231.0
2023-02    184.0
2023-03    237.0
2023-04    747.0
2023-05    490.0
2023-06    119.0
2023-07    103.0
2023-08    295.0
2023-09    162.0
2023-10    300.0
2023-11     14.0
Freq: M, Name: profit, dtype: float64

In [13]:
#sort the grouped data
sorted_result = grouped_df2.sort_values(ascending=False)
sorted_result.head(1)

created_at
2023-04    747.0
Freq: M, Name: profit, dtype: float64

In [14]:
# Graph the sales of each of the products ordered. -- ask for help**

grouped_df = new_dataset.groupby(new_dataset['name'])['sales'].sum()

grouped_df.plot(kind='bar', rot=90, figsize=(15,9)) 
plt.xlabel('Products')
plt.ylabel('Sales')
plt.title('Total Sales Graph')

KeyError: 'Column not found: sales'

In [ ]:
# correlation value between the buying_price and profit
correlation = new_dataset['buying_price'].corr(new_dataset['profit'])
new_correlation = round(correlation, 2)
new_correlation

## A strong correlation has been identified

In [15]:
# what is the correlation between product_name and profit?
new_dataset.groupby('name')['profit'].mean()

name
Alize Sunset                     28.0
Aspic - Light                     4.0
Bagelers                          6.0
Beef - Eye Of Round               2.0
Beer - Tetleys                   15.0
                                ...
Wine La Vielle Ferme Cote Du     35.0
blueband                        175.0
karatasi                         84.5
lotion                          375.0
superloaf                        84.0
Name: profit, Length: 66, dtype: float64

## There is no correlation between product_name and profit since product_name is of string data type and profit is float

In [16]:
# Graph the monthly sales.
# Group by the month extracted from the 'Date' column and sum the 'Sales' within each group
grouped_df = new_dataset.groupby(new_dataset['created_at'].dt.to_period('M'))['sales'].sum()

# Create a bar plot
grouped_df.plot(kind='bar', rot=90, figsize=(15,9)) 
plt.xlabel('Monthly Dates')
plt.ylabel('Total Sales')
plt.title('Total Sales per Month')

KeyError: 'Column not found: sales'

In [44]:
# Clean up the unused columns like the old selling price and profit, then dump a csv file of the clean dataset. 
# Ensure the output is called duka_sales_cleaned.csv

new_dataset.columns.to_list()

['id',
 'name',
 'buying_price',
 'selling_price',
 'stock_quantity',
 'id',
 'pid',
 'quantity',
 'created_at',
 'new_sp',
 'profit']

In [45]:
#check if there is any null value
new_dataset.isnull().sum()

id                0
name              0
buying_price      0
selling_price     0
stock_quantity    0
id                0
pid               0
quantity          0
created_at        0
new_sp            0
profit            0
dtype: int64

In [46]:
#remove the unused columns
columns_to_remove = ['selling_price']
final_df = new_dataset.drop(columns=columns_to_remove)
final_df

,id,name,buying_price,stock_quantity,id,pid,quantity,created_at,new_sp,profit
0,85,Pheasants - Whole,5.0,96,3,85,5.0,2023-02-19 18:33:38,7.0,10.0
1,86,Ecolab - Ster Bac,16.0,50,4,86,5.0,2023-09-07 08:05:52,20.0,20.0
2,89,Foam Tray S2,7.0,56,5,89,8.0,2022-12-27 05:39:33,9.0,16.0
3,107,"Lamb - Racks, Frenched",6.0,91,6,107,4.0,2022-12-19 07:46:31,8.0,8.0
4,76,Flavouring - Rum,30.0,92,7,76,1.0,2023-10-04 22:37:56,38.0,8.0
...,...,...,...,...,...,...,...,...,...,...
95,81,Sobe - Orange Carrot,8.0,76,98,81,9.0,2023-01-07 04:47:41,10.0,18.0
96,93,Mousse - Banana Chocolate,16.0,59,99,93,6.0,2022-12-18 16:33:19,20.0,24.0
97,60,"Soda Water - Club Soda, 355 Ml",5.0,85,100,60,7.0,2023-03-10 15:48:48,7.0,14.0
98,106,Chambord Royal,8.0,71,101,106,7.0,2023-05-06 14:08:02,10.0,14.0
99,16,Waffle Stix,10.0,59,102,16,2.0,2023-05-27 17:16:53,13.0,6.0

In [20]:
def find_non_rare_labels( ):
        tolerance = 10
        temp = final_df.count() / len(final_df)
        print(temp)
        non_rare = [x for x in temp.loc[temp>tolerance].index.values]
        return non_rare

In [21]:
find_non_rare_labels()

id                1.0
name              1.0
buying_price      1.0
stock_quantity    1.0
id                1.0
pid               1.0
quantity          1.0
created_at        1.0
new_sp            1.0
dtype: float64

[]

#generate csv file
final_df.to_csv('new_duka_sales_cleaned.csv', index=False)

In [26]:
# y = x1 +x2 +x3
# new_sp +qty +pid(total_number)

# y = x1 + x2 + x3
# profit = final_df['new_sp'] + final_df'quantity' + pid(categorical)  
# (target)

In [43]:
# X_train, X_test, y_train, y_test =  train_test_split(final_df['new_sp'], test_size=0.2, random_state=42)

# X_train,  y_train =  train_test_split( 
# final_df['new_sp'], test_size=0.2, random_state=42)

ValueError: not enough values to unpack (expected 4, got 2)

In [49]:
x = final_df[['new_sp', 'quantity']]
y = final_df['profit']
X_train, X_test, y_train, y_test =  train_test_split(x, y, test_size=0.25, random_state=42, shuffle=True)

In [50]:
regr = LinearRegression()
# Train the model using the training sets
regr.fit(X_train, y_train)
# Make predictions using the testing set
y_test_pred = regr.predict(X_test)
y_train_pred = regr.predict(X_train)

print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

MSE train: 892.199, test: 214.005
R^2 train: 0.734, test: 0.952