In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (1.24.3)

In [2]:
import numpy as np

In [13]:
myarr = np.array([[23, 34, 22, 67], [23, 34, 22, 67], [40, 0, 46, 90], [37, 91, 23, 67]])

In [26]:
myarr

array([[23, 34, 22, 67],
       [23, 34, 22, 67],
       [40, None, 46, 90],
       [37, 91, 23, 67]], dtype=object)

In [6]:
type(myarr)

numpy.ndarray

In [7]:
myarr.ndim

2

In [8]:
myarr.shape

(3, 4)

In [9]:
myarr.size

12

In [10]:
myarr.dtype

dtype('O')

In [35]:
myarr[:2, :2]

array([[23, 34],
       [23, 34]], dtype=object)

In [36]:
myarr[2:4, 1:3]

array([[None, 46],
       [91, 23]], dtype=object)

### Task: Find the mean of every row, have them in an aray. Use numpy

In [9]:
myarr

array([[23, 34, 22, 67],
       [23, 34, 22, 67],
       [40, None, 46, 90],
       [37, 91, 23, 67]], dtype=object)

In [14]:
np.mean(myarr, axis=1)

array([36.5, 36.5, 44. , 54.5])