In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
# using read_csv(), start by making a dataset
df = pd.read_csv("C:/Users/HP/Downloads/excel_file_2.csv")

df.head(10)

   number_courses  time_study   Marks
0               8       7.811  55.299
1               7       7.957  54.321
2               8       7.641  53.359
3               8       7.591  53.158
4               6       7.909  53.018
5               7       7.649  51.583
6               8       7.468  51.343
7               6       7.775  51.142
8               6       7.711  50.986
9               7       7.451  49.544

In [5]:
df = pd.read_excel("C:/Users/HP/Downloads/excel_file_1.xlsx") 
print(df)

             student    subject        date  marks
0       James Walker    Biology  05/06/2016     31
1      Velma Clemons    Biology  05/06/2016     43
2     Kibo Underwood    Biology  05/06/2016     81
3        Louis Mcgee    Biology  05/06/2016     11
4       Phyllis Paul    Biology  05/06/2016     18
..               ...        ...         ...    ...
195       Yen Bowers  Sociology  21/06/2016     52
196        Ryan Pena  Sociology  21/06/2016     16
197  Portia Hamilton  Sociology  21/06/2016     34
198  Sydnee Chambers  Sociology  21/06/2016     76
199      Stacy Small  Sociology  21/06/2016     96

[200 rows x 4 columns]